.heading{
    &-title{
        text-transform: uppercase;
        color: $darkBlue;
        font-size: 18px;
        font-weight: 500;

        @mixin extraLargeScreen{
            text-transform: uppercase;
            color: $darkBlue;
            font-size: 40px;
            font-weight: 500;
        }

        @mixin mediumScreen{
            font-size: 25px;
        }
        @mixin largeScreen{
            font-size: 30px;
        }
    }

    &-subtitle{
        color: $orange;
        font-size: 13px;
        font-weight: 500;

        @mixin extraLargeScreen{
            color: $orange;
            font-size: 18px;
            font-weight: 500;
        }

        @mixin mediumScreen{
             font-size: 18px;
        }

        @mixin largeScreen{
            font-size: 18px;
        }
    }
}